# 📝 Python Practice Exercises
This notebook contains 20 exercises based on Python fundamentals.

**Exercise 1: Arithmetic Practice**

Write Python expressions that calculate:
- 7 squared
- the remainder of 29 divided by 5
- floor division of 29 by 5

In [5]:
total = 7 **2
remain = 29 % 5
floor = 29 // 5

print(total,remain, floor)

49 4 5

**Exercise 2: Comparison Chain**

Check if the variable `x = 7` is greater than 5 and less than 10 in one statement.

In [6]:
x = 7
if x > 5 and x < 10:
    pass

if 5 < x < 10: print(True)

True

**Exercise 3: Logical Operators**

Write code that checks whether `'b'` is in `'zebra'` **and** `'c'` is not in `'zebra'`.

In [7]:
word = 'zebra'

if 'b' in word and 'c' not in word: print('b is in c is out')

b is in c is out

**Exercise 4: For Loop Range**

Use a `for` loop with `range()` to print the numbers 10 down to 1.

In [8]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

**Exercise 5: While Loop Counter**

Write a `while` loop that counts from 0 to 4 and prints the numbers.

In [9]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

**Exercise 6: Simple List Operations**

Create a list `[1, 2, 3]`, append the number `4`, and then remove `2`. Print the final list.

In [10]:
mylist = [1,2,3]
mylist.append(4)
print(mylist)

mylist.pop(1)
print(mylist)

[1, 2, 3, 4]
[1, 3, 4]

**Exercise 7: Tuple Count**

Given `t = (1, 2, 2, 3)`, use a tuple method to count how many times `2` appears.

In [11]:
t = (1,2,2,3)
print(t.count(2))

2

**Exercise 8: Set Creation**

Create a set from the string `'balloon'` and print it. Explain why some letters only appear once.

In [12]:
word = 'balloon'
letters = set(word)

**Exercise 9: If/Else with Input**

Ask the user for a number. Print `'Even'` if the number is even, otherwise print `'Odd'`.

In [13]:
num = int(input('enter an integer'))
if num % 2 == 0: print('even')
else:print('odd')

even

**Exercise 10: Fix Wrong Dictionary Value**

`student = {"name": "Alice", "age": 20, "grade": 85}`

Accidentally, grade should have been `90`. Update it using `update()`.

In [14]:
student = {"name": "Alice", "age": 20, "grade": 85}
student.update({'newgrade': 90})
print(student)

{'name': 'Alice', 'age': 20, 'grade': 85, 'newgrade': 90}

**Exercise 11: Using pop() on Lists**

Create `nums = [10, 20, 30, 40]`.
- Pop the last number
- Pop the first number
Print the final list.

In [15]:
nums= [10,20,30,40]
nums.pop()
print(nums)

nums.pop(0)
print(nums)

#can also use nums.pop(3) or nums.pop(-1), need to be done by index

[10, 20, 30]
[20, 30]

**Exercise 12: Dictionary Safe Lookup**

Given `student = {"name": "Alice"}`, use `.get()` to print `'N/A'` if `'grade'` does not exist.

In [17]:
student = {'name': 'Alice'}
print(student.get('grade', 'N/A'))

N/A

**Exercise 13: Loop + If**

Loop through the list `[2, 5, 8, 11, 14]`. Print only the numbers greater than 10.

In [18]:
nums = [2, 5, 8, 11, 14]
for num in nums:
    if num > 10: print(num)

11
14

**Exercise 14: Try/Except Handling**

Ask the user for an integer. If they type something invalid, print `'Invalid input'` instead of crashing.

In [28]:
try:
    num = int(input('Please enter an integer'))
except ValueError:
    print('Invalid Input')

Invalid Input

**Exercise 15: Dictionary popitem()**

Create a dictionary with three key-value pairs. Call `popitem()` and print both the returned item and the dictionary after.

In [29]:
dict = {'grade': 90, 'name': 'Alice', 'subject': 'math101'}

print(dict.popitem())
print(dict)

('subject', 'math101')
{'grade': 90, 'name': 'Alice'}

**Exercise 16: Reverse a List**

Write a program that creates a list of numbers from 1 to 5 and then reverses it in place.

In [31]:
myList = [1, 2, 3, 4, 5]
myList.reverse()
print(myList)

[5, 4, 3, 2, 1]


**Exercise 17: Nested Loop with Condition**

Print a multiplication table (1–5) but skip printing results where the product is greater than 12.

expected output:

1 x 1 = 1  
1 x 2 = 2   
1 x 3 = 3   
1 x 4 = 4   
1 x 5 = 5   

2 x 1 = 2   
2 x 2 = 4   
2 x 3 = 6   
2 x 4 = 8   
2 x 5 = 10   

3 x 1 = 3   
3 x 2 = 6   
3 x 3 = 9   
3 x 4 = 12   

4 x 1 = 4  
4 x 2 = 8   
 
5 x 1 = 5   
5 x 2 = 10

In [25]:
for idx in range(1,6): 
    for jdx in range (1,6):
        if idx * jdx <= 12:
            print(f'{idx} x {jdx} = {idx * jdx}')
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12

5 x 1 = 5
5 x 2 = 10

**Exercise 18: Grades Dictionary**

Create a dictionary of students where each value is a list of grades. Example:
```python
students = {"Alice": [90, 85], "Bob": [70, 75]}
```
Loop through and print each student’s name and their average grade.

In [1]:
students = {"Alice": [90, 85], "Bob": [70, 75]}

for name in students:
    print(name)
    grades = students[name]
    print(grades)
    average = sum(grades) / len(grades)
    print(f"Average grade: {average}")
    print()

Alice
[90, 85]
Average grade: 87.5

Bob
[70, 75]
Average grade: 72.5

**Exercise 19: List of Dictionaries Fix**

You are given a list of dictionaries representing items for sale:
```python
items = [
    {"name": "Pen", "qty": 10, "price": 2, "total": 25},  # wrong
    {"name": "Book", "qty": 3, "price": 10, "total": 30}
]
```
Loop through and fix any incorrect `total` values.

In [4]:
items = [
    {"name": "Pen", "qty": 10, "price": 2, "total": 25},  # wrong
    {"name": "Book", "qty": 3, "price": 10, "total": 30}
]

for item in items:
    correct_total = item["qty"] * item["price"]
    if item["total"] != correct_total:
        item["total"] = correct_total   # fix it

print(items)

[{'name': 'Pen', 'qty': 10, 'price': 2, 'total': 20}, {'name': 'Book', 'qty': 3, 'price': 10, 'total': 30}]

**Exercise 20: Unique Words**

Given a string sentence, split it into words and create a set of unique words. Print the set and its length.

In [3]:
txt = 'the cat in the hat wore his black hat in the store'
words = txt.split()
unique = set(words)
print(unique)
print(len(unique))

{'black', 'wore', 'cat', 'store', 'his', 'the', 'hat', 'in'}
8